<a href="https://colab.research.google.com/github/amandarice97/data-analytics/blob/main/danl-m1-hw1-Rice-Amanda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Question 1**

How do you assign the value 5 to a variable named x?

*Explanation*
- Value 5 is an integer
- A variable is a name that refers to a value
- In Python, we use = to assign a value to a variable

*Answer*

In [1]:
x = 5

In [65]:
#value 5 assigned to variable named x

**Question 2**

Given 1st = [1, 2, 3, 4, 5], what does 1st[1:4] return?

Explanation
- Indexing in Python:
  - 1 = 0, -5
  - 2 = 1, -4
  - 3 = 2, -3
  - 4 = 3, -2
  - 5 = 4, -1

*Answer*

In [3]:
list_variable = [1, 2, 3, 4, 5]
list_variable[1:4]

[2, 3, 4]

In [66]:
#Indexing in Python

**Question 3**

How do you create a dictionary with keys "apple", "banana", and "cherry", each with the corresponding values 5, 3, and 7?

How do you access the value associated with the key "banana" in the dictionary created above?

*Explanation*
- The dictionary allows us to map one set of variables to another (either one-to-one or many-to-one)
- If you need to create associations between objects, use a dictionary
- Can obtain keys, values, or key-value pairs from dictionaries

*Answer*

In [7]:
fruit_list = {"apple": 5, "banana": 3, "cherry": 7}
fruit_list

{'apple': 5, 'banana': 3, 'cherry': 7}

In [8]:
fruit_list.keys()

dict_keys(['apple', 'banana', 'cherry'])

In [9]:
fruit_list.values()

dict_values([5, 3, 7])

In [10]:
fruit_list.items()

dict_items([('apple', 5), ('banana', 3), ('cherry', 7)])

In [67]:
#Dictionary, mapping one set of variables to another

**Question 4**

For the expressions below, what is the value of the expression? Explain thoroughly.

**True and False**
- *Description:* Are x and y both true?
- *Answer:* False; they are not both "true". See below.

**True or False**
- *Description:* Is at least one of x and y true?
- *Answer:* True; at least one is "true". See below.

**not (100 == '100' and 25 < 36)**
- *Description:* Is x false?
- *Answer:* True; 100 is not equal to '100', it is true that 25 is less than 36. See below.

*Answer*

In [14]:
boolean_condition1 = True and False
print(boolean_condition1)

False

In [16]:
boolean_condition2 = True or False
print(boolean_condition2)

True

In [17]:
boolean_condition3 = not (100 == '100' and 25 < 36)
print(boolean_condition3)

True

In [68]:
#booleans and conditions

**Question 5**

Create a new if-elif-else chain that prints "well done" if a score is over 90, "good" if between 40 and 90, and "bad luck" otherwise.

*Explanation*
- If score = 95, then print "well done" (see below)
- If score = 75, then print "good" (see below)
- If score = 25, then print "bad luck" (see below)

*Answer*

In [22]:
score = 95

if score > 90:
  print("well done")
elif score > 40 and score < 90:
  print("good")
else:
  print("bad luck")

well done

In [20]:
score = 75

if score > 90:
  print("well done")
elif score > 40 and score < 90:
  print("good")
else:
  print("bad luck")

good

In [21]:
score = 25

if score > 90:
  print("well done")
elif score > 40 and score < 90:
  print("good")
else:
  print("bad luck")

bad luck

In [69]:
#if-else chain using test scores

**Question 6**

Write a loop that prints out "coding for data analysts" so that each word is printed in a successive iteration.

*Explanation*
- A loop is a way of executing a similar piece of code over and over in a similar way
  - The most useful loop is for loops
- As long as an object is iterable, then it can be used in this way in a for loop

*Answer*

In [23]:
loop_phrase = ["coding for data analysts"]
for words in loop_phrase:
  print(words)

coding for data analysts

In [70]:
#coding for data analysts loop

**Question 7**

How do you import the math module in a Python script?
After importing math, how do you use its sqrt function to find the square root of 16?

*Explanation*
- Python is a general-purpose programming language and is not specialized for numerical or statistical computation
- We refer to code of other modules/packages/libraries by using the Python import statement
  - This makes the code and variables in the imported module available to our programming codes

*Answer*

In [24]:
import math

In [26]:
math.sqrt(16)

4.0

In [71]:
#the square root of 16 is 4

**Question 8**

Do the following tasks on this Classwork 1 Discussion Board:
  1. Basic Syntax: Write a comment with your name, a heading, an unordered list, and ordered list, a link, and an image.
  2. Advanced Syntax: Write a comment that includes a Python code block, a blockquote, and an emoji.

*Explanation*
- Markdown is a lightweight markup language with plain-text formatting syntax. Its main goal is to be readable and easy to write, even when viewed as plain text. Markdown is widely used for creating formatted text on the web and in various applications such as Jupyter Notebooks in Google Colab.

*Answer*

#Data Analytics

**Name:** Amanda Rice

**Unordered List:**
- apple
  - honeycrisp apple
  - cortland apple
- banana
- cherry

**Ordered List:**
1. apple
2. banana
3. cherry

[DANL 210](https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.geneseo.edu%2Fcomm_mark%2Fgraphic-identity&psig=AOvVaw3hJlPYLlAKVewxZnekaVN6&ust=1707765773106000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCJiA2reBpIQDFQAAAAAdAAAAABAD)
![Geneseo Logo](https://www.geneseo.edu/sites/default/files/sites/college_comm/geneseo-athletics-lgo.jpg)

```
"Python"
```

```python
# Python code block
import numpy as np
```

> The future belongs to those who believe in the beauty of their dreams. Eleanor Roosevelt

🐕

In [72]:
#using text in data analytics